.cabecera{
  background-color: #FFF9C4;
	padding: 20px; 
}
.principal{
  background-color: #C0DBEA;
}

canvas {
  border: 4px solid #5faa97;
}

a:hover {
	color: #FFF9C4;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  background-color: #5faa97;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

#videoAction, #detectionAction{
  width: 250px;
  height: 50px;
  background: #5faa97;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
  display: block; /* Asegura que sean elementos de bloque */
  border: 2px solid #155545;
}



#contenedor-video-canvas {
  display: flex;
  flex-wrap: wrap;
}

#contenedor-video-canvas video {
  width: 20%;

}

#contenedor-video-canvas canvas {
  width: 20%;
}


body{
  background-color: #C0DBEA;
}



.sub {
  background-color: #ffffcc; /* Color de fondo amarillo pastel */
  border: 1px solid #cc99ff; /* Borde morado pastel */
  padding: 5px 10px; /* Añadir un poco de espacio alrededor del texto */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse por encima */
}

#questionForm, h2 {
  float: right;
  clear: both;
}





